<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Notes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.notes.EditNotes"
            android:label="editNotes"
            android:theme="@style/AppThemes"></activity>
        <activity
            android:name="com.example.notes.addNotes"
            android:label="addNotes"
            android:theme="@style/AppThemes" />
        <activity
            android:name="com.example.notes.ListShow"
            android:label="Notes"
            android:theme="@style/AppThemes" />
        <activity android:name="com.example.notes.Main4Activity" />
        <activity android:name="com.example.notes.Main3Activity" />
        <activity
            android:name="com.example.notes.Main2Activity"
            android:parentActivityName="com.example.notes.MainActivity" />
        <activity android:name="com.example.notes.MainActivity" />
        <activity android:name="com.example.notes.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>